<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationNoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".home_kosong"
            android:exported="false" />
        <activity
            android:name=".Logbook_Detail"
            android:exported="false" />
        <activity
            android:name=".Logbook_Add"
            android:exported="false" />
        <activity
            android:name=".Logbook_edit"
            android:exported="false" />
        <activity
            android:name=".DetailSidang"
            android:exported="false" />
        <activity
            android:name=".PopUp_Sidang"
            android:exported="false" />
        <activity
            android:name=".Pengajuan_Sidang"
            android:exported="false" />
        <activity
            android:name=".Sidang_Awal"
            android:exported="false" />
        <activity
            android:name=".DetailPeserta"
            android:exported="false" />
        <activity
            android:name=".InputPeserta"
            android:exported="false" />
        <activity
            android:name=".Peserta"
            android:exported="false" />
        <activity
            android:name=".DetailSemHas"
            android:exported="false" />
        <activity
            android:name=".PopUp"
            android:exported="false" />
        <activity
            android:name=".FormPengajuan"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FormPendaftaranTActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Semhas_Awal"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UbahEmailActivity"
            android:exported="false" />
        <activity
            android:name=".UbahNoTlpActivity"
            android:exported="false" />
        <activity
            android:name=".logbookList"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>